@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
.footer{
	display : flex;
	align-items: center;
	justify-content : space-around;
	width : 100%;
	background-color: rgb(228, 226, 223);
}
.footerBox{
	font-size: 15px;
	color: dimgrey;
}
.footerLogo{
	padding: 10px;
}
