@charset "UTF-8";
@import
url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap')
;

body {
	font-family: "Noto Sans KR", sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.logout{
	border-style: none;
	background-color: white;
	font-size: 19px;

}
.headerLink{
  text-decoration-line: none;
  color : #585858;
}
.headerLink:hover{
	border-bottom: 2px solid #585858;
}
.headerTable{
	padding-top: 5px;
	text-align:center;
	width: 100%;
	box-shadow: 0px 8px 5px rgb(245,245,245);
	/*border-bottom : 1px solid #ddd;	*/
	font-size: 20px;
}
.hotelLogo{
	height:80px;
}

.td1{
	width: 1%;
}
.td2{
	width: 8%;
}
.td3{
	width: 7%;
}
.td4{
	width: 10%;
}
.td5{
	width: 9%;
}
.td6{
	width: 23%;
}
.td7{
	
	width: 10%;
}
.td8{
	text-align : right;
	width: 15%;
}
.td9{
	width: 10%;
}
.utd1{
	padding-bottom : 45px;
}
.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn{
	text-align :center;
	border-style : none;	
	border-radius : 4px;
	background-color: #f5f5f5;
	font-weight: bold;
	color : gray;
	padding : 12px;
	width :200px;
	font-size: 15px;
}
.dropdown-content{
	text-align :center;
	display : none;
	position : absolute;
	z-index : 1; /*다른 요소들보다 앞에 배치*/
	font-weight: 400;
	background-color: #f9f9f9;
	min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 15px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}