@charset "UTF-8";
.editorBox{
	margin-top : 50px;
	width: 1000px;	
}
#editor{
	height: 700px;
}
#introForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Btns{
	display: flex;
	justify-content : flex-end;
	width : 1000px;
	margin-top : 40px;
}
.Btns>button{
	margin-left : 10px;
	border-style: none;
	width: 100px;
	height: 40px;
	border-radius: 10px;
}