@charset "UTF-8";
.editorBox{
	margin-top : 50px;
	width: 80%;
}
#editor{
	height: 700px;
}
#introForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Btns{
	display: flex;
	justify-content : flex-end;
	width: 80%;
	margin-top : 40px;
}
.Btns>button{
	margin-left : 10px;
	border-style: none;
	width: 100px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	color: #8D94A2;
	cursor : pointer;
}
.Btns>button:hover{
	background-color: white;
}
.introTitle{
	margin-top : 40px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.introTitle > input{
	width: 80%;
	border : 1px solid #ddd;
	height: 40px;
	font-size: 25px;
	border-radius: 8px;
}
.introTitle > input::placeholder{
	font-size: 20px;
}
.introTitle > input:focus{
	outline: none;
	border : 2px solid skyblue;
}
