@charset "UTF-8";
.main{
	margin-top : 60px;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.reservationForm{
	margin-top : 80px;
}
.container{
	display:flex;
	flex-direction: column;
}
.deleteRooms{
	display: none;
}
.listTable{
	margin-top : 30px;
	width: 1000px;
	height: 200px;	
	border-collapse: collapse;
	border-bottom: 1px solid darkgray;
}
.listTd0{
	width: 20%;
	text-align: center;
}
.listTd1{
	padding-left:15px;
	width: 40%;
}
.listTd2{
	text-align: center;
	width: 15%;
}
.listTd3{
	text-align :right;
	padding-right : 10px;
	width: 15%;
}
.listTd3 > b{
	font-size: 25px;
}
.listTr1{height: 20%;}
.listTr2{height: 50%;}
.listTr3{height: 20%;}

.thumbnail{
	width: 230px;
	height: 200px;
	cursor : pointer;
}
.deleteList{
	background-color: #feb602;
	font-size : 20px;
	color : white;
	border-radius : 10px;
	border-style : none;
	width: 100px;
	height: 50px;
	cursor : pointer;
}
.manageBtns{
	width : 210px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.reserveBtn{
	color : white;
	background-color :#feb602;
	font-size : 17px;
	font-weight : bold;
	border-radius : 10px;
	border-style : none;
	width: 130px;
	height: 50px;
}
.plusImg{
	margin-left : 5px;
	width: 10px;
	height: 10px;	
}
.detailText{
	height : 10px;
	display : flex;
	flex-direction :row;
	align-items : center;
	justify-content :flex-start;
	font-size: 13px;
	cursor : pointer;
}
.roomAdd{
	font-size : 20px;
	display : flex;
	align-items : center;
	justify-content : center;
	width: 100px;
	height: 50px;
	background-color: #feb602;
	border-radius: 10px;
}
.roomAdd > a{
	color : white;
}
.coverListTable{
	border-bottom : 1px solid darkgray; 
	padding-bottom : 30px;
	width: 1000px;
	height: 230px;	
}
.unavailable {
	opacity: 0.5;
	pointer-events: none; /* 클릭 불가 */
}
.unavailable .roomDetail {
	cursor: not-allowed;
}