#preview{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#preview > img{
	width : 200px;
	height :200px;
}
.roomAddMain{
	height : auto;
	margin-top : 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.roomAddForm{
	height : auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.roomAddTable{
	border-collapse : collapse;
	height :400px;
	width: 1000px;	
}
.i1{
	font-size : 17px;
	width : 25%;
	border : 1px solid darkgray;
	border-radius : 8px;
	height: 50%;
}
.i2{
	width : 10%;
	border : 1px solid darkgray;
	border-radius : 8px;
	height: 50%;	
}
.i3{
	text-align:center;
	font-size : 17px;
	width : 25%;
	border : 1px solid darkgray;
	border-radius : 8px;
	height: 50%;
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
	border-bottom: 1px solid darkgray;
}
.s1{
	border-top : 2px solid black;
}
.infoText,.optionText{
	width : 1000px;
	text-align: left;
}
.roomInfo{
	margin-top : 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height :auto;
	width: 1000px;		
}
.optionText{
	border-bottom : 2px solid black;
}
#plusOptions,#plusUseOptions{
	display: flex;
	flex-direction: column;
	justify-content : center;
	width : 100%;
	padding-bottom : 20px;
	border-bottom : 1px solid darkgray;
}
.UseOptions,.options{
	padding-bottom : 20px;
	display: flex;
	
	justify-content : flex-start;
}
.options{
	margin-bottom : 5px;
}
.o1,.o2{
	border : 1px solid darkgray;
	border-radius : 8px;
	height: 30px;
}
.addoptionBtn,.addBtns>button{
	color : white;
	font-size : 17px;
	font-weight : bold;
	width: 120px;
	height: 40px;
	background-color: #feb602;
	border-radius: 10px;
	border-style : none;
}
#drop_zone{
	display: flex;
	align-items : center;	
	justify-content : center;
	width : 250px;
	height :150px;
	border : 1px dashed darkgray;
	border-radius : 10px;
}
.imgInfo{
	margin-bottom : 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}