.typeAddMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.typeAddBtnBox{
    margin-bottom : 20px;
}
.typeAddBtnBox > button{
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #8D94A2;
    cursor : pointer;
}
.typeAddBtnBox > button:hover{
    background-color: white;
}
.typeAddBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}
.typeName,.roomSize,.typeImg{
    font-size: 20px;
    border : 1px solid gray;
    border-radius: 8px;
    width: 20%;
    height: 29px;
}
.bedSize{
    font-size: 20px;
    border : 1px solid gray;
    border-radius: 8px;
    width: 20%;
    height: 34px;
}
.insertOption,.removeOptionBtn{
    width: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: bolder;
    background-color: white;
    color: darkgray;
    height: 34px;
    cursor : pointer;
}