<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="banner_list_main">
        <div class="banner_list_Con">
            <table class="banner_list_table">
                <tr class="banner_list_tr_1">
                    <th class="banner_list_th_1">번호</th>
                    <th class="banner_list_th_2"></th>
                    <th class="banner_list_th_3"></th>
                    <th class="banner_list_th_4"></th>
                </tr>
                <tr class="banner_list_tr_1">

                </tr>
            </table>
        </div>

    </main>
</body>
</html>