<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>배너 등록</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/type_add.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/banner_add.js"></script>
</head>
<body>
    <header th:replace="~{manageheader :: manageheader}"></header>
    <main class="banner_add_main">
        <div class="manageTitleBox">
            <span class="manageTitle">배너 등록</span>
        </div>
        <div class="banner_add_con">
            <div class="banner_add_btn_box">
                <button type="button" class="saveBtn">저장</button>
                <button type="button" class="listBtn">목록으로</button>
            </div>
            <span>※배너 이미지는 1024 * 500 으로 맞춰주세요</span>
            <span>※사이즈에 맞지 않을경우 자동으로 리사이징이 되지만 화질이 떨어질 수 있습니다.</span>
                <div class="banner_add_box">
                    <input type="file" name="banner_img" class="banner_img">
                    <input type="text" name="banner_name" class="banner_name" placeholder="배너 명">
                    <input type="url" name="banner_url" class="banner_url" placeholder="이미지에 들어갈 url">
                    <button type="button" class="insertOption">+</button>
                </div>
        </div>
    </main>

</body>
</html>