<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylrsheet" href="css/footer.css">
</head>
<body>
	<footer class="footer" th:fragment="footer">
		<table class="footerTable">
			<tr>
				<td class="ftd1" colspan="2" rowspan="2">
					<a href="/hotel"><img class="footerLogo" src="../images/hotelLogo.png"/></a>
				</td>
				<td class="ftd2">3</td>
				<td class="ftd3">4</td>
				<td class="ftd4">5</td>
			</tr>
			<tr>
				<td class="ftd5">8</td>
				<td class="ftd6">9</td>
				<td class="ftd7">10</td>
			</tr>
		</table>
	</footer>	
</body>
</html>