<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>header</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
	<header class="header" th:fragment="header">
		<input type="hidden" th:value="${session.user_sid}"> <input
			type="hidden" th:value="${session.user_name}"> <input
			type="hidden" th:value="${session.role_user}">
		<table class="headerTable">
			<tr>
				<td class="td1"></td>
				<td class="td2" th:if="${session.user_sid!=null && (session.role_user =='STAFF'||session.role_user =='ADMIN')}">
					<a class="headerLink" href="/hotel/management">호텔 관리</a>
				</td>
				<td class="td2" th:if="${session.user_sid == null || session.role_user =='USER'}"></td>
				<td class="td3"></td>
				<td class="td4"></td>
				<td class="td5"></td>
				<td class="td6" rowspan="2"><a href="/hotel"><img class="hotelLogo"
						src="../images/hotelLogo.png"></a></td>
				<td class="td7"></td>
				<td class="td8"></td>
				<td class="td9">
					<div class="user_info" th:if="${session.user_sid != null}">
						<button type="button" class="logout headerLink">로그아웃</button>
					</div>
						<a href="/user/login" class="login headerLink" th:if="${session.user_sid == null}">로그인</a></td>
			</tr>
			<tr class="tr2">
				<td class="utd1"></td>
				<td><a class="headerLink"
					href="/hotel/intro">호텔 소개</a></td>
				<td></td>
				<td><a class="headerLink" href="/room">객실예약</a></td>
				<td></td>
				<td></td>
				<td><a class="headerLink" href="/question">고객 문의</a></td>
				<td><a class="headerLink" href="#">예약확인</a></td>
			</tr>
		</table>

	</header>
</body>
</html>