<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>header</title>
	
</head>
<body>
	<header class="header" th:fragment="header">
		<input type="hidden" th:value="${session.user_sid}">
		<input type="hidden" th:value="${session.user_name}">
		<input type="hidden" th:value="${session.role_user}">
	<table>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<div class="user_info" th:if="${session.user_sid != null}">
					<span th:text="|${session.user_name} 님, 환영합니다.|"></span>
					<button type="button" class="logout">로그아웃</button>
				</div>
			</td>
			<td>
				<a href="/user/login" th:if="${session.user_sid == null}">로그인</a>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>	 

	</header>
			
			
</body>
</html>