<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/hotelmain.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	
<header th:replace="~{header :: header}"></header>
<main class="hotelMain">
	<!-- 메인배너 -->
	<div class="banner">
		<a href="#"><img class="img" src="#" alt="배너이미지 들어갈예정(패키지등록시에 배너 등록체크)"></a>
	</div>
	
	<!-- 예약검색 -->
	<form class="reservationForm" action="#" method="post">
		<table class="rsvSearchTable">
			<tr>
				<td>체크인</td>	
				<td><img class="bakimg" src="../images/bak.png"></td>	
				<td>체크아웃</td>	
				<td>객실</td>	
				<td>성인</td>	
				<td>어린이</td>	
				<td>유아</td>	
			</tr>
			<tr>
				<td>
					<input type="date" name="chk_in">
				</td>
				<td>박</td>
				<td>
					<input type="date" name="chk_out">
				</td>
				<td>
					<input type="number" name="room_cnt" value="1">
				</td>
				<td>
					<input type="number" name="adult_cnt" value="2">
				</td>
				<td>
					<input type="number" name="child_cnt" value="0">
				</td>
				<td>
					<input type="number" name="Baby_cnt" value="0">
				</td>
			</tr>
		</table>
		<input type="submit" class="searchBtn" value="검색">
	</form>
	
	<!-- 패키지상품들 -->
	<div class="packageTitleBox">
		<h1 class="packageTitle">이달의 패키지</h1>
	</div>
	<table class="packageTable">
		<tr class="ptr1">
			<td class="ptd1" colspan="2" rowspan="2">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
		</tr>
		<tr class="ptr2">
			<td class="ptd1" rowspan="2">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>	
		</tr>
		<tr class="ptr3">
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
		</tr>
	</table>
	
	<!-- 멤버쉽 소개 -->
	<div class="membership">
		<h1>멤버십 소개</h1>
	</div>
		<div class="membershipBox">
			<img class="membershipImg" src="../images/membership.png">
			<img class="pointImg" src="../images/point.png">
		</div>
</main>
	<script src="/js/common.js"></script>
	<script>
		function logout() {
			ajaxCall("/user/logout", "DELETE", null, function() {
				alert('로그아웃 되었습니다.');
				location.reload();
			}, function() {
				alert("로그아웃 실패");
			});
		};
	</script>
</body>
</html>