<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/hotelmain.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/reserveSearch.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>

<header th:replace="~{header :: header}"></header>
<main class="hotelMain">
	<!-- 메인배너 -->
	<div class="banner">
		<a href="#"><img class="img" src="#" alt="배너이미지 들어갈예정(패키지등록시에 배너 등록체크)"></a>
	</div>
	<!-- 예약검색 -->
	<div th:replace="~{reserveSearch :: reserveSearch}"></div>
	<!-- 패키지상품들 -->
	<div class="roomTypeTitleBox">
		<h1 class="roomTypeTitle">ROOM TYPE</h1>
		<span class="roomIntroText">고객 모두의 만족을 위한 객실 종류</span>
	</div>
	<table class="packageTable">
		<tr class="ptr1">
			<td class="ptd1" colspan="2" rowspan="2">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
		</tr>
		<tr class="ptr2">
			<td class="ptd1" rowspan="2">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>	
		</tr>
		<tr class="ptr3">
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
			<td class="ptd1">
				<a href=""><img src="#" alt="패키지등록하면 상위에서 5개 정보 가져오기"></a>
			</td>
		</tr>
	</table>
</main>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>