<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/hotelmain.css">
	<link rel="stylesheet" href="/css/modal.css">
	<link rel="stylesheet" href="/css/banner_img_slide.css">
	<link rel="stylesheet" href="/css/type_detail.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/modal.js"></script>
	<script type="text/javascript" src="/js/banner_img_slide.js"></script>
	<script type="text/javascript" src="/js/hotel_main.js"></script>
	<script type="text/javascript" src="/js/reserveSearch.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>

<header th:replace="~{header :: header}"></header>
<main class="hotelMain">
	<!-- 메인배너 -->
	<div class="banner">
		<div class="slider_wrapper">
			<div class="slider_inner">
				<div class="slider" th:each="banner : ${bannerList}">
					<a th:href="@{|${banner.banner_url}|}"><img class="banner_img" th:src="@{|/img/${banner.img_name}|}"></a>
				</div>
			</div>
		</div>
	<button type="button" class="moveBtn prev"> 〈 </button>
	<button type="button" class="moveBtn next"> 〉 </button>
	</div>
	<!-- 예약검색 -->
	<div th:replace="~{reserveSearch :: reserveSearch}"></div>
	<!-- 패키지상품들 -->
	<div class="roomTypeTitleBox">
		<h1 class="roomTypeTitle">ROOM TYPE</h1>
		<span class="roomIntroText">고객 모두의 만족을 위한 객실 종류</span>
	</div>
	<table class="packageTable">
		<tr class="ptr1">
			<td class="ptd1" colspan="2" rowspan="2">
					<img class="room_type_img_1 type_img" th:src="@{|/img/${typeList[0].img_name}|}">
					<input type="hidden" class="type_name" th:value="${typeList[0].type_name}">
					<input type="hidden" class="bed_size" th:value="${typeList[0].bed_size}">
					<input type="hidden" class="room_size" th:value="${typeList[0].room_size}">
			</td>
			<td class="ptd1" th:if="${typeList.size() > 1}">
				<img class="room_type_img_2 type_img" th:src="@{|/img/${typeList[1].img_name}|}">
				<input type="hidden" class="type_name" th:value="${typeList[1].type_name}">
				<input type="hidden" class="bed_size" th:value="${typeList[1].bed_size}">
				<input type="hidden" class="room_size" th:value="${typeList[1].room_size}">
			</td>
		</tr>
		<tr class="ptr2">
			<td class="ptd1" rowspan="2" th:if="${typeList.size() > 2}">
				<img class="room_type_img_3 type_img" th:src="@{|/img/${typeList[2].img_name}|}">
				<input type="hidden" class="type_name" th:value="${typeList[2].type_name}">
				<input type="hidden" class="bed_size" th:value="${typeList[2].bed_size}">
				<input type="hidden" class="room_size" th:value="${typeList[2].room_size}">
			</td>	
		</tr>
		<tr class="ptr3">
			<td class="ptd1" th:if="${typeList.size() > 3}">
				<img class="room_type_img_5 type_img" th:src="@{|/img/${typeList[4].img_name}|}">
				<input type="hidden" class="type_name" th:value="${typeList[4].type_name}">
				<input type="hidden" class="bed_size" th:value="${typeList[4].bed_size}">
				<input type="hidden" class="room_size" th:value="${typeList[4].room_size}">
			</td>
			<td class="ptd1" th:if="${typeList.size() > 4}">
				<img class="room_type_img_4 type_img" th:src="@{|/img/${typeList[3].img_name}|}">
				<input type="hidden" class="type_name" th:value="${typeList[3].type_name}">
				<input type="hidden" class="bed_size" th:value="${typeList[3].bed_size}">
				<input type="hidden" class="room_size" th:value="${typeList[3].room_size}">
			</td>
		</tr>
	</table>
	<div th:replace="~{modal :: modal}"></div>
</main>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>