<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/hotel_intro_list.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="/js/common.js"></script>
    <script src="/js/sessionChk.js"></script>
    <script src="/js/intro_list.js"></script>
</head>
<body>
<header th:replace="~{manageheader :: manageheader}"></header>
<main class="mainCon">
    <div class="manageTitleBox">
        <span class="manageTitle">객실 소개 목록</span>
    </div>
    <input type="hidden" id="user_sid" th:value="${session.user_sid}"/>
    <input type="hidden" id="user_role" th:value="${session.role_user}"/>
    <table class="introTable">
        <tr class="introTr">
            <th class="introTh">No.</th>
            <th class="introTh">제목</th>
            <th class="introTh">등록일/수정일</th>
            <th class="introTh">공개/비공개</th>
            <th class="introTh">대표 소개글 선택</th>
        </tr>
        <tr th:if="${#lists.isEmpty(intros)}">
            <td colspan="5">
                <h1>등록된 소개글이 없어요</h1>
            </td>
        </tr>
        <tr class="introTr" th:each="intro, loop : ${intros}">
            <td class="introTd" th:text="${loop.count}"></td>
            <td class="introTd">
                <span class="introListTitle" th:data-intro-sid="${intro.hotel_sid}" th:text="${intro.title}"></span>
            </td>
            <td class="introTd"  th:text="${#temporals.format(intro.created_date,'yyyy-MM-dd')} +' / '+${#temporals.format(intro.modified_date, 'yyyy-MM-dd')}"></td>
            <td class="introTd" th:text="${intro.status}"></td>
            <td class="introTd">
                <input type="radio" name="chk" th:value="${intro.hotel_sid}" th:checked="${intro.status == '공개'}"
                       class="chk">
            </td>
        </tr>
    </table>
    <div class="btn">
        <button type="button" class="introButton" th:value="${intros.size()}">소개 등록하기</button>
    </div>
</main>


<script>

</script>
</body>
</html>