<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>소개글 상세보기</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/hotel_intro_admin.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/intro_detail.js"></script>
</head>
<body>
    <header th:replace="~{manageheader :: manageheader}"></header>
    <main class="introDetailMain">
    <div class="introDetailBox">
          <div class="detailTop">
              <div class="detailInfo">
                <span class="detailTitle" th:text="'제목 : '+${detail.title}"></span>
                <span class="detailCreatedDate" th:text="'작성일 : '+${#temporals.format(detail.created_date , 'yyyy-MM-dd HH:mm')}"></span>
              </div>
              <div class="detailDate">
                <span class="detailWriter" th:text="'작성자 : '+${detail.user_name}"></span>
                <span class="detailModifiedDate" th:text="'수정일 : '+${#temporals.format(detail.modified_date , 'yyyy-MM-dd HH:mm')}"></span>
              </div>
          </div>
            <div class="detailContentBox">
            <div class="detailContent" th:utext="${detail.content}"></div>
            </div>
            <div class="detailBtnBox">
                <button type="button" class="goIntroList">목록으로</button>
                <button type="button" class="introUpdate" th:value="${detail.hotel_sid}">수정하기</button>
                <button type="button" class="introDelete" th:value="${detail.hotel_sid}">삭제하기</button>
            </div>
        </div>
    </main>
</body>
</html>