<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 확인</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reserve_list.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/question_detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
    <script type="text/javascript" src="/js/reserve_list.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>

</head>
<body>
<!--페이징 데이터-->
<input type="hidden" class="existPrevPage" th:value="${#lists.isEmpty(reserveList.list) ? '' : reserveList.pagination.existPrevPage}">
<input type="hidden" class="existNextPage" th:value="${#lists.isEmpty(reserveList.list) ? '' :reserveList.pagination.existNextPage}">
<input type="hidden" class="startPage" th:value="${#lists.isEmpty(reserveList.list) ? '' :reserveList.pagination.startPage}">
<input type="hidden" class="endPage" th:value="${#lists.isEmpty(reserveList.list) ? '' :reserveList.pagination.endPage}">
<input type="hidden" class="totalPageCount" th:value="${#lists.isEmpty(reserveList.list) ? '' :reserveList.pagination.totalPageCount}">
<input type="hidden" class="totalRecordCount" th:value="${#lists.isEmpty(reserveList.list) ? '' :reserveList.pagination.totalRecordCount}">
<input type="hidden" class="page" th:value="${#lists.isEmpty(reserveList.list) ? '' :search.page}">
<input type="hidden" class="recordSize" th:value="${#lists.isEmpty(reserveList.list) ? '' :search.recordSize}">

<header th:replace="~{header :: header}"></header>
<main class="reserve_list_main">
    <div class="reserve_list_top user_top">
        <span class="reserve_list_text">나의 예약 목록</span>
        <hr class="underLine">
    </div>
    <div class="reservation_type_box">
        <select class="reservation_type">
            <option value="">===예약===</option>
            <option value="지난 예약" th:selected="${search.reservationType=='지난 예약'}">지난 예약</option>
            <option value="진행중인 예약" th:selected="${search.reservationType=='진행중인 예약'}">진행중인 예약</option>
        </select>
    </div>
    <table class="reserve_list_table">
        <tr class="reserve_list_tr_1">
            <th class="reserve_list_th_1 line1">No.</th>
            <th class="reserve_list_th_2 line2">객실 명</th>
            <th class="reserve_list_th_3 line3">예약자 명</th>
            <th class="reserve_list_th_4 line4">체크인/체크아웃</th>
        </tr>
        <tr th:if="${#lists.isEmpty(reserveList.list)}">
            <td colspan="4">
                <h1>예약 기록이 없습니다.</h1>
            </td>
        </tr>
        <tr class="reserve_list_tr_2" th:each="reserveData, loop: ${reserveList.list}">
            <td class="reserve_list_td_1" th:text="${loop.count}"></td>
            <td class="reserve_list_td_2">
                <span class="room_name" th:text="${reserveData.room_name}"></span>
            </td>
            <td class="reserve_list_td_3" th:text="${reserveData.user_name}"></td>
            <td class="reserve_list_td_4" th:text="${#temporals.format(reserveData.start_date,'yyyy-MM-dd')} +' / '+${#temporals.format(reserveData.end_date, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
    <div class="pagination" th:if="${!#lists.isEmpty(reserveList.list)}"></div>
</main>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>