<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="reserveMainCon">
		<div class="reserveInfo">
			<div class="reserveDate">
				<span th:text="${reserve.start_date} + ' - '"></span>
				<span th:text="${reserve.end_date}"></span>
			</div>
			<div class="personCount">
				<span th:if="${reserve.adult_cnt != null}" th:text="${reserve.adult_cnt}+'성인'"></span>
				<span th:if="${reserve.child_cnt != null}" th:text="${reserve.child_cnt}+'소아'"></span>
			</div>
		</div>
	</main>
</body>
</html>