<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="reserveSearch">
	<form class="reservationForm" action="/room" method="get" onsubmit="return reserveValidate()">
		<table class="rsvSearchTable">
			<tr>
				<th>체크인</th>	
				<th><img class="bakimg" src="../images/bak.png"></th>
				<th>체크아웃</th>	
				<th>성인</th>	
				<th>소아</th>	
			</tr>
			<tr>
				<td>
					<input type="date" name="start_date" id="start_date" class="search_date" th:value="${search.start_date}" >
				</td>
				<td class="td2">
					<input type="text" name="reserve_days" id="result" class="reserve_days" readonly>
				</td>
				<td>
					<input type="date" name="end_date" id="end_date"  class="search_date"  th:value="${search.end_date}">
				</td>
				<td>
					<input type="number" name="adult_cnt" id="adult_cnt"  th:value="${search.adult_cnt}">
				</td>
				<td>
					<input type="number" name="child_cnt" id="child_cnt" th:value="${search.child_cnt}">
				</td>
			</tr>
		</table>
		<button type="submit" class="searchBtn">검색</button>
	</form>
</div>	
  
</body>
</html>