<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li th:each="rooms : ${rooms}">
			<h2 th:text ="${rooms.room_info}"></h2>
			<div class="img_box"><img th:src="${rooms.room_img}"></div>
			<ul>
				<li th:each="options : ${rooms.options}">
					<span th:text ="|${options.option_name} : |"> </span>
					<span th:text ="${options.option_value}"></span>
				</li>
				<li>
				<img th:src="|C:/img/${img.img_name}|" th:each="img : ${rooms.images}" />
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>