<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel="stylesheet" href="/css/imgsilde.css">
</head>
<body>
<main id="main">
	<!-- 이미지 슬라이드 -->
    <section id="sliderType01">
        <div class="slider_wrap">
            <div class="slider_img">
                <div class="slider_inner">
                    <div class="slider" role="group" aria-label="5/5" th:each="img : ${detail.images}">
                    	<img th:src="@{|/img/${img.img_name}|}">
                    </div>
                </div>
            </div>
            <div class="slider_btn">
                <a href="#" class="prev" role="button" aria-label="왼쪽 이미지">prev</a>
                <a href="#" class="next" role="button" aria-label="오른쪽 이미지">next</a>
            </div>
        </div>
    </section>
</main>
	<script src="/js/imgslide.js"></script>
	<script th:inline="javascript">
	$(function(){
		  $(document).on("click",".removeRoom", function(){
	        let room_sid = $(this).val();
	        if(!confirm("방을 삭제하시겠습니까?")){
	        	return false;
	        }
			console.log("체크");
			$.ajax({
				type: 'delete',
				async : false,
				url: '/room/delete',
				data: {
					room_sid : room_sid
				},
				success: function () {
			   	 alert('방이 삭제되었습니다.');
			   	 location.href="/room";
			   	
				}, error: function () {
					alert("방 삭제 실패");
				}
			});
		  });
	});
		function backList(){
			location.href="/room";
		}	
		
	
	</script>
	
</body>
</html>