<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 객실 목록</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/roomdetail.css">
    <link rel="stylesheet" href="/css/imgsilde.css">
    <link rel="stylesheet" href="/css/room_manage_list.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/room_manage_list.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
</head>
<body>
    <header th:replace="~{manageheader :: manageheader}"></header>
    <main class="room_manage_list_main">
        <div class="manageTitleBox">
            <span class="manageTitle">객실 목록</span>
        </div>
        <div class="room_manage_list_add_btn_box">
            <button type="button" class="room_add_btn">등록하기</button>
        </div>
        <table class="room_manage_list_table">
            <tr class="room_manage_list_tr_1">
                <th class="room_manage_list_th_1 line1">No.</th>
                <th class="room_manage_list_th_1 line2">대표 이미지</th>
                <th class="room_manage_list_th_2 line3">객실</th>
                <th class="room_manage_list_th_3 line4">등록일/수정일</th>
                <th class="room_manage_list_th_4 line5">관리</th>
            </tr>
            <tr th:if="${#lists.isEmpty(roomManageList.list)}">
                <td colspan="4">
                    <h1>등록된 객실이 없어요</h1>
                </td>
            </tr>
            <tr class="room_manage_list_tr_2"  th:each="room, loop : ${roomManageList.list}">
                <td class="room_manage_list_td_1" th:text="${loop.count}"></td>
                <td class="room_manage_list_td_2" >
                    <img class="thumbnail" th:src="@{|/img/${room.thumbnail.img_name}|}">
                </td>
                <td class="room_manage_list_td_3" th:text="${room.room_name}"></td>
                <td class="room_manage_list_td_4" th:text="${#temporals.format(room.created_date,'yyyy-MM-dd')} +' / '+${#temporals.format(room.modified_date, 'yyyy-MM-dd')}"></td>
                <td class="room_manage_list_td_5">
                    <div class="room_manage_btn_box">
                        <button type="button" class="room_manage_btn" th:value="${room.room_sid}">객실관리</button>
                    </div>
                </td>
            </tr>
        </table>
        <div th:replace="~{modal :: modal}"></div>
    </main>
</body>
</html>