<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<input type="hidden" value="${detail.room_sid}" name="room_sid">
	<table  th:each="detail : ${detail}">
		<tr>
			<th>방 정보</th>		
			<td th:text="${detail.room_name}"></td>
			<th>생성 일시</th>
			<td th:text="${#temporals.format(detail.created_date, 'yyyy-MM-dd HH:mm' )}"></td>
			<th>수정 일시</th>
			<td th:text="${#temporals.format(detail.modified_date, 'yyyy-MM-dd HH:mm' )}"></td>	
		</tr>
		<tr th:each="options:${detail.options}">
			<th th:text="${options.option_name}"></th>
			<td th:text="${options.option_value}"></td>
		</tr>
		<tr th:each="img : ${detail.images}">
			<th>방이미지</th>
			<td>
			<img th:src="|/img/${img.img_name}|" width="400px">
			</td>
		</tr>
	</table>
	<div class="btns" th:if="${session != null}">	
		<a th:href="|/room/update/${room_sid}|">수정하기</a>
		<button type="button" th:value="${room_sid}" class="removeRoom">삭제하기</button>
		<button type="button" onclick="backList()">목록으로</button>
	</div>
	<script th:inline="javascript">
	$(function(){
		  $(document).on("click",".removeRoom", function(){
	        let room_sid = $(this).val();
	        if(!confirm("방을 삭제하시겠습니까?")){
	        	return false;
	        }
			console.log("체크");
			$.ajax({
				type: 'delete',
				async : false,
				url: '/room/delete',
				data: {
					room_sid : room_sid
				},
				success: function () {
			   	 alert('방이 삭제되었습니다.');
			   	 location.href="/room";
			   	
				}, error: function () {
					alert("방 삭제 실패");
				}
			});
		  });
	});
		function backList(){
			location.href="/room";
		}	
		
	
	</script>
	
</body>
</html>