<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/roomAdd.css">
<link rel="stylesheet" href="/css/header.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<header th:replace="~{manageheader :: manageheader}"></header>
	<main class="roomAddMain">
			<form class="roomUpdateForm" action="/room/update" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
				<div class="infoText">
					<h2>기본정보</h2>
				</div>
				<table class="roomAddTable">
					<tr>
						<th class="s1">방 이름</th>
						<td class="s1">
							<input class="i1" type="text" name="room_name" th:value="${update.room_name}" required="required">
						</td>
					</tr>
					<tr>
						<th class="s2">문의 전화</th>
						<td class="s2">
							<select name="local_num"  class="i2" >
								<option th:value="${update.local_num}" th:text="${update.local_num}"></option>
								<option value="02">02</option>
								<option value="031">031</option>
								<option value="032">032</option>
								<option value="033">033</option>
								<option value="041">041</option>
								<option value="042">042</option>
								<option value="043">043</option>
								<option value="044">044</option>
								<option value="051">051</option>
								<option value="052">052</option>
								<option value="053">053</option>
								<option value="054">054</option>
								<option value="055">055</option>
								<option value="061">061</option>
								<option value="062">062</option>
								<option value="063">063</option>
								<option value="064">064</option>
							</select> 
							- <input  class="i2"  type="text" name="middle_num" th:value="${update.middle_num}" required="required">
							- <input  class="i2"  type="text" name="last_num" th:value="${update.last_num}" required="required">
						</td>
					</tr>
					<tr>
						<th class="s3">방가격(1박)</th>
						<td class="s3">
							 <input class="i1" type="number" name="price" min="0" th:value="${update.price}" required="required"/>
						</td>
					</tr>
					<tr>
						<th class="s4">객실 수</th>
						<td class="s4">
							<input class="i1" type="number" name="room_count" min="0" th:value="${update.room_count}" required="required"/>
						</td>
					</tr>
					<tr>
						<th class="s5">객실 인원 제한(성인)</th>
						<td class="s5">
							 <input class="i1" type="number" name="adult_limit" min="0" max="4" th:value="${update.adult_limit}" required="required"/>
						</td>
					</tr>
					<tr>
						<th class="s6">객실 인원 제한(소아)</th>
						<td class="s6">
							<input class="i1"  type="number" name="child_limit" min="0" max="4" th:value="${update.child_limit}" required="required"/>
						</td>
					</tr>
					<tr>
						<th class="s7">예약가능기간</th>
						<td class="s7">
							<input  class="i3" id="startDate" type="date" name="start_date" th:value="${update.start_date}" required="required"/>
							~ <input  class="i3" id="endDate"  type="date" name="end_date" th:value="${update.end_date}" required="required"/>
						</td>
					</tr>
				</table>
				<div class="roomInfo">
				<div class="optionText">
					<h2>옵션</h2>
				</div>
					<h3>방 정보 옵션</h3>※ 객실크기, 침대타입 필수 입력! ※<br><br>
					<div class="option" th:each="option : ${update.options}">
						<div id="plusOption">
							<div class="options" th:if="${option.option_type.equals('객실정보')}">
								옵션명&nbsp;<input type="text" class="o1" th:value="${option.option_name}"  id="options[0].option_name" name="options[0].option_name"placeholder="ex)전망">&nbsp;
								내용&nbsp;<input type="text" class="o1" th:value="${option.option_value}" id="options[0].option_value" name="options[0].option_value"  placeholder="ex)시티뷰">&nbsp;	
								<button class="addoptionBtn" type="button"  onclick="removeOption(this)">옵션 제거</button>
							</div>
						</div>
					</div>
					<h3>방 이용 옵션</h3>
					<div class="option" th:each="option : ${update.options}">
						<div id="plusUseOption">
							<div class="UseOptions" th:if="${option.option_type.equals('객실이용')}">
								옵션명&nbsp;<input type="text" class="o2" th:value="${option.option_name}" id="useOptions[0].option_name" name="useOptions[0].option_name" placeholder="ex)객실이용">&nbsp;
								내용&nbsp;<textarea class="o2" th:text="${option.option_value}" id="useOptions[0].option_value" name="useOptions[0].option_value" rows="4" placeholder="ex)커피 차 티백 "></textarea>&nbsp;		
								<button type="button" class="addoptionBtn"  onclick="removeOption(this)">옵션 제거</button>
							</div>
						</div>
					</div>	
					
					<h3>객실 이미지</h3>
					<div class="imgInfo">
						<div>
							<b>대표 이미지</b>
							<br>
							<input type="file" name="thumbnail"/><br/>
						</div>
						<div>
							<b>방 이미지</b>
							<br>
							<div id="drop_zone">
								<p>이미지를 드래그 앤 드롭 하거나<br> 클릭해주세요</p>
								<input id="input" class="input"  type="file" accept="image/*" name="images"  hidden="hidden" multiple>
							</div>
							<div id="preview"></div>
							<b>현재 등록된 이미지</b>
							<div th:each="img:${update.images}">
									<img th:src="|/img/${img.img_name}|" width="300px"/>
								<button type="button" class="removeImg" th:value="${img.room_img_sid}">이미지 삭제</button>
							</div>
						</div>
					</div>		
				</div>
				<div class="addBtns">
					<button type="submit" >등록</button>	
					<button type="button" onclick="backList()">목록으로</button>
				</div>
			</form>
	</main>
		<script src="/js/addOption.js"></script>
		<script src="/js/dragAndDrop.js"></script>	
		<script src="/js/common.js"></script>
</body>
</html>