<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<form class="roomUpdateForm" th:action="|/room/update|" th:method="put" enctype="multipart/form-data" th:each="update:${update}">
		방 정보<input type="text" name="room_info" th:value="${update.room_info}"><br> 
		대표 이미지<input type="file" name="thumbnail"/><br/>
			<div id="drop_zone">
			<p>이미지를 드래그 앤 드롭 하거나 클릭ㄱㄱ</p>
			<input id="input" class="input"  type="file" accept="image/*" name="images"   multiple>
		</div>
		<div id="preview"></div>		
			<div th:each="img:${update.images}">
				현재 등록된 이미지<img th:src="|/img/${img.img_name}|" width="300px"/>
				<button type="button" class="removeImg" th:value="${img.room_img_sid}">이미지 삭제</button>
			</div>
		<h2>-옵션-</h2>
		<div id="pulsOptions">
		<button type="button" onclick="addOption()">옵션 추가하기</button>
			<div class="options" th:each="options:${update.options}">
				옵션명<input type="text" id="options[0].option_name" name="options[0].option_name" th:value="${options.option_name}"> 
				내용<input type="text" id="options[0].option_value" name="options[0].option_value" th:value="${options.option_value}">
				<button type="button" onclick="removeOption(this)">옵션 제거</button>
				<br>
			</div>
		</div>
		<button type="submit">수정완료</button>
		<button type="button" onclick="backList()">목록으로</button>
<script src="/js/addOprion.js"></script>
<script src="/js/dragAndDrop.js"></script>
<script src="/js/roomUpdate.js"></script>
<script src="/js/common.js"></script>

	</form>
</body>
</html>