<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>객실 타입 등록</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/type_add.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="/js/common.js"></script>
    <script src="/js/type_add.js"></script>
</head>
<body>
<header th:replace="~{manageheader :: manageheader}"></header>
  <main class="typeAddMain">
      <div class="manageTitleBox">
          <span class="manageTitle">객실 타입 등록</span>
      </div>
      <div class="typeAddCon">
          <div class="typeAddBtnBox">
            <button type="button" class="saveBtn">저장</button>
            <button type="button" class="listBtn">목록으로</button>
          </div>
          <form id="typeAddForm">
              <div class="typeAddBox">
                    <input type="file" name="type_img" class="typeImg">
                    <input type="text" name="type_name" class="typeName" placeholder="객실 타입 명">
                    <input type="text" name="room_size" class="roomSize" placeholder="객실 크기">
                    <select class="bedSize"  name="bed_size">
                        <option value="">==< 침대크기 >==</option>
                        <option value="싱글">싱글</option>
                        <option value="슈퍼싱글">슈퍼싱글</option>
                        <option value="더블">더블</option>
                        <option value="퀸">퀸</option>
                        <option value="킹">킹</option>
                        <option value="슈퍼킹">슈퍼킹</option>
                    </select>
                <button type="button" class="insertOption">+</button>
              </div>
          </form>
      </div>

  </main>
</body>
</html>