<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelLayoutMapper">
    <insert id="floorAdd" parameterType="ReqLayoutAdd" useGeneratedKeys="true" keyColumn="floor_sid" keyProperty="floorSid">
        INSERT INTO tb_floor(
            floor_name
        )   VALUES  (
            #{floorName}
        )
    </insert>

    <insert id="hotelLayoutAdd" parameterType="ReqLayoutRoomAdd">
        INSERT INTO tb_hotel_layout(
            room_sid,
            floor_sid,
            room_number
        )   VALUES    (
            #{roomSid},
            #{floorSid},
            #{roomNumber}
        )
    </insert>

    <select id="layoutList" resultMap="layoutList">
        SELECT TF.*,HL.room_sid,HL.room_number ,RT.type_name
        FROM tb_floor AS TF
        LEFT OUTER JOIN tb_hotel_layout AS HL ON TF.floor_sid = HL.floor_sid
        LEFT OUTER JOIN tb_room AS TR ON HL.room_sid = TR.room_sid
        LEFT OUTER JOIN tb_room_type AS RT ON TR.room_type_sid = RT.room_type_sid
        WHERE   TR.delete_yn = 'N'
        ORDER BY HL.floor_sid ASC, HL.room_number ASC
    </select>

    <select id="retrieveTodayReservations" resultMap="todayReserveList">
        SELECT
            hl.*,
            COALESCE(res.reserve_status,'공실') AS reserve_status,
            rt.type_name as room_name,
            tf.floor_name
        FROM
            tb_hotel_layout hl
                LEFT JOIN
            tb_reservation res ON hl.room_number = res.room_number
                AND CURRENT_DATE BETWEEN res.start_date AND res.end_date
                left outer join tb_room as tr on hl.room_sid = tr.room_sid
                left join tb_room_type as rt on tr.room_type_sid = rt.room_type_sid
                left join tb_floor as tf on hl.floor_sid = tf.floor_sid
        WHERE
            tr.delete_yn = 'N'
        ORDER BY
            hl.floor_sid asc, hl.room_number asc;
    </select>
    <delete id="hotelLayoutRemoveAll">
        DELETE
        FROM    tb_floor
    </delete>
    <delete id="deleteHotelLayoutByRoomSid">
        DELETE
        FROM    tb_hotel_layout
        WHERE   room_sid = #{roomSid}
    </delete>
    
    <resultMap id="layoutList" type="ResLayoutList">
        <result property="floor_name" column="floor_name"></result>
        <collection property="rooms" resultMap="roomsMap"></collection>
    </resultMap>
    <resultMap id="todayReserveList" type="ResTodayReserveList">
        <result property="floor_name" column="floor_name"></result>
        <collection property="rooms" resultMap="roomsMap"></collection>
    </resultMap>
    
    <resultMap id="roomsMap" type="ResRoomLayout">
        <id property="hotel_layout_sid" column="hotel_layout_sid"></id>
        <result property="room_sid" column="room_sid"></result>
        <result property="room_name" column="type_name"></result>
        <result property="room_number" column="room_number"></result>
        <result property="reserve_status" column="reserve_status"></result>
    </resultMap>
</mapper>