<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelSellMapper">
	<insert id="hotelSellAdd" parameterType="ReqRoomAdd" useGeneratedKeys="true" keyColumn="room_sid" keyProperty="room_sid" >
        INSERT INTO tb_room (
        room_info, 
        room_img,
        delete_yn,
        created_date,
        modified_date
        ) VALUES (
        #{room_info}, 
        #{room_img},
        'N',
        now(),
        now()
        )
    </insert>
	<insert id="addOptions" parameterType="com.example.demo.dto.request.hotelsell.ReqRoomAdd$Options">
		INSERT INTO tb_options(
			room_sid,
			option_name,
			option_value
		) VALUE (
			#{room_sid},
			#{option_name},
			#{option_value}
		)
	</insert>
</mapper> 