<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelMapper">
<insert id="uploadFile" parameterType="ReqHotelImg">
	INSERT INTO tb_hotel_img(
		original_name,
		img_name,
		extension
	) VALUES (
		#{original_name},
		#{img_name},
		#{extension}
	)
</insert>
<insert id="introAdd" parameterType="ReqIntroAdd">
	INSERT INTO tb_hotel(
		user_sid,
		content,
		delete_yn,
		created_date,
		modified_date
	) VALUES (
		#{user_sid},
		#{content},
		'N',
		now(),
		now()
	)
</insert>
</mapper>