<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PaymentMapper">
    <insert id="reservePaymentAdd" parameterType="ReqPaymentInfoAdd">
        INSERT INTO tb_payment(
            reserve_sid,
            user_sid,
            reserve_number,
            price,
            room_name,
            phone
        )   VALUES  (
            #{reserveSid},
            #{userSid},
            #{reserveNumber},
            #{price},
            #{roomName},
            #{phone}
        )
    </insert>

    <delete id="deletePayment">
        DELETE
        FROM    tb_payment
        WHERE   reserve_sid = #{reserveSid}
    </delete>

</mapper>