<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.QuestionMapper">
    <insert id="questionAdd" parameterType="ReqQuestionAdd">
        INSERT INTO tb_question(
            user_sid,
            question_type_sid,
            title,
            content,
            created_date,
            modified_date
        )   VALUES  (
            #{userSid},
            #{questionTypeSid},
            #{title},
            #{content},
            now(),
            now()
        )
    </insert>

    <select id="findQuestion" resultType="ResQuestionList">
        SELECT  TQ.*, QT.type_name
        FROM    tb_question as TQ
        LEFT OUTER JOIN tb_question_type as QT
        ON TQ.question_type_sid = QT.question_type_sid
        WHERE
                user_sid = #{userSid}
        ORDER BY
                question_sid    DESC
    </select>

    <select id="questionListCnt" parameterType="QuestionSearchDTO">
        SELECT  COUNT(*)
        FROM    tb_question
        <if test="questionType != null and questionType != ''">
            WHERE question_type_sid = #{questionType}
        </if>
    </select>
    
    <select id="questionManageList" parameterType="QuestionSearchDTO" resultType="ResQuestionList">
        SELECT  TQ.*, QT.type_name,TU.user_name
        FROM    tb_question AS TQ
        LEFT OUTER JOIN tb_question_type AS QT  ON TQ.question_type_sid = QT.question_type_sid
        LEFT OUTER JOIN tb_user AS TU ON TQ.user_sid = TU.user_sid
        <if test="questionType != null and questionType != ''">
            WHERE TQ.question_type_sid = #{questionType}
        </if>
        ORDER BY TQ.question_sid    DESC
        LIMIT #{recordSize} offset #{pagination.limitStart}
    </select>

    <update id="questionUpdate" parameterType="ReqQuestionUpdate">
        UPDATE  tb_question
        SET     title = #{title},
                content = #{content},
                modified_date = now()
        WHERE
                question_sid = #{questionSid}
    </update>

    <delete id="questionDelete">
        DELETE
        FROM    tb_question
        WHERE
                question_sid = #{questionSid}

    </delete>
</mapper>