<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoomMapper">
	<!-- 방 정보 추가 -->
	<insert id="roomAdd" parameterType="ReqRoomAdd" useGeneratedKeys="true" keyColumn="room_sid" keyProperty="room_sid" >
        INSERT INTO tb_room (
        room_info, 
        delete_yn,
        created_date,
        modified_date
        ) VALUES (
        #{room_info}, 
        'N',
        now(),
        now()
        )
    </insert>
    
    <!-- 방 옵션추가 -->
	<insert id="addOptions" parameterType="ReqOptions">
		INSERT INTO tb_options(
			room_sid,
			option_name,
			option_value
		) VALUES (
			#{room_sid},
			#{option_name},
			#{option_value}
		)
	</insert>
	
	<!-- 방 이미지 추가 -->
	<insert id ="uploadImg" parameterType="ReqRoomImg">
		INSERT INTO tb_room_img(
			room_sid,
			original_name,
			img_name,
			extension
		) VALUES (
			#{room_sid},
			#{original_name},
			#{img_name},
			#{extension}
		)
	</insert>	
<!-- 
	/방 목록/
		방 테이블과 옵션테이블,방 이미지 테이블은 1:N 관계이기 때문에 resultMap 으로받음
		이렇게 하지않으면 옵션이나 방이미지 등록 수만큼 방이름도 반복되어서 나옴 
-->
	<select id="roomList" resultMap="resultList">
		SELECT 	
				TR.* ,
				OP.option_name ,	OP.option_value,
				TI.img_name,TI.original_name
		FROM	
				tb_room AS TR
		LEFT OUTER JOIN 	tb_options	AS	OP	ON 	TR.room_sid = OP.room_sid
		LEFT OUTER JOIN 	tb_room_img	AS	TI	ON 	TR.room_sid = TI.room_sid
		WHERE	
				TR.delete_yn = 'N'
		ORDER BY
				TR.room_sid DESC;
	</select>
	<select id="deleteRooms" resultMap="resultList">
		SELECT 	
				TR.* ,
				OP.option_name ,	OP.option_value,
				TI.img_name,TI.original_name
		FROM	
				tb_room AS TR
		LEFT OUTER JOIN 	tb_options	AS	OP	ON 	TR.room_sid = OP.room_sid
		LEFT OUTER JOIN 	tb_room_img	AS	TI	ON 	TR.room_sid = TI.room_sid
		WHERE	
				TR.delete_yn = 'Y'
		ORDER BY
				TR.room_sid DESC;
	</select>
	
	<!-- 방 상세보기-->
	<select id="roomDetail" parameterType="Long" resultMap="resultDetail">
		SELECT
				TR.*,
				OP.option_name,	OP.option_value,
				TI.img_name,TI.original_name,TI.room_img_sid  
		FROM
				tb_room	AS TR
		LEFT OUTER JOIN		tb_options 	AS	OP ON	TR.room_sid = OP.room_sid		
		LEFT OUTER JOIN 	tb_room_img AS	TI ON	TR.room_sid = TI.room_sid
		WHERE
				TR.room_sid = #{room_sid}
	</select>
	
	<!-- 이미지삭제 -->
	<delete id="roomImgRemove" parameterType="Long">
		DELETE FROM tb_room_img
		WHERE room_img_sid = #{room_img_sid}
	</delete>
	
	<!-- 방 삭제 -->
	<delete id ="roomDelete" parameterType="Long">
		UPDATE tb_room
		SET	delete_yn = 'Y'
		WHERE	room_sid = #{room_sid}
	</delete>
	
	<!-- 방 복구 -->
	<update id="restoreRoom" parameterType="Long">
		UPDATE tb_room
		SET delete_yn = 'N'
		WHERE room_sid = #{room_sid}
	</update>
	
	<!-- 방 수정 -->
	<update id="roomUpdate" parameterType="ReqRoomAdd">
		UPDATE tb_room
		SET	room_info = #{room_info},
			modified_date = now()
		WHERE	room_sid = #{room_sid}
	</update>
	<!-- 옵션 수정 -->
	<update id="optionUpdate" parameterType="ReqOptions">
		UPDATE tb_options
		SET	option_name = {option_name},
			option_value = #{option_value}
		WHERE	room_sid = #{room_sid}
	</update>
 		<!--  방목록 resultMap -->
	<resultMap type="ResRoomList" id="resultList">
		<id property="room_sid" column="room_sid" />
		<result property="room_info" column="room_info" />
		<collection property="options" resultMap="optionsMap"></collection>
		<collection property="images" resultMap="imagesMap"></collection>
	</resultMap>
	
	<!-- 방 상세보기 resultMap -->
	<resultMap type="ResRoomDetail" id="resultDetail">
		<id property="room_sid" column="room_sid" />
		<result property="room_info" column="room_info" />
		<result property="created_date" column="created_date"/>
		<result property="modified_date" column="modified_date"/>
		<collection property="options" resultMap="optionsMap"></collection>
		<collection property="images" resultMap="imagesMap"></collection>
	</resultMap>
	
	<!-- 이미지 resultMap -->
	<resultMap type="ResRoomImg" id="imagesMap">
		<result property="room_sid" column="room_sid"/>
		<result property="room_img_sid" column="room_img_sid"/>
		<result property="img_name" column="img_name"/>
		<result property="original_name" column="img_name"/>
	</resultMap>
	
	<!-- 옵션 resultMap -->
	<resultMap type="ResOptions" id="optionsMap">
		<result property="room_sid" column="room_sid" />
		<result property="option_name" column="option_name" />
		<result property="option_value" column="option_value" />
	</resultMap>
</mapper> 