<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoomTypeMapper">
    <insert id="roomTypeAdd" parameterType="ReqRoomTypeAdd" useGeneratedKeys="true" keyColumn="room_type_sid" keyProperty="room_type_sid">
        INSERT INTO tb_room_type(
            type_name,
            room_size,
            bed_size
        )   VALUES  (
            #{type_name},
            #{room_size},
            #{bed_size}
        )

    </insert>

    <insert id="saveImg" parameterType="ReqTypeImg">
        INSERT INTO tb_type_img(
            room_type_sid,
            original_name,
            img_name,
            extension
        )   VALUES  (
            #{roomTypeSid},
            #{originalName},
            #{imgName},
            #{extension}
        )
    </insert>
    <select id="findAllRoomType" resultType="ResRoomTypeList">
        SELECT RT.*,TI.img_name
        FROM tb_room_type as RT
        LEFT OUTER JOIN tb_type_img as TI
        ON RT.room_type_sid = TI.room_type_sid
        ORDER BY room_type_sid DESC
    </select>

    <update id="roomTypeUpdate" parameterType="ReqRoomTypeUpdate">
        UPDATE  tb_room_type
        SET     type_name = #{type_name},
                room_size = #{room_size},
                bed_size = #{bed_size}
        WHERE
                room_type_sid = #{room_type_sid}

    </update>
    <delete id="roomTypeDelete">
        DELETE
        FROM    tb_room_type
        WHERE
                room_type_sid = #{room_type_sid}

    </delete>
    <delete id="deleteImg">
        DELETE
        FROM    tb_type_img
        WHERE
                img_name = #{current_img}
          AND   room_type_sid = #{room_type_sid}


    </delete>
</mapper>